.block, .block-light {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.block {
  background-color: #f8f9fa;
}
.block-light {
  background-color: #e9ecef;
}

.content {
  margin-top: 60px; /* 根據導航欄的高度調整 */
  padding: 20px;
}